[user]
	name = César Ordóñez
	email = ceordonezv@gmail.com
[core]
	editor = nvim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    logrl = log --pretty=format:\"%aN %ad %n  - %s\" --date=short
