[user]
	name = César Ordóñez
	email = ceordonezv@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    logrl = log --pretty=format:\"%aN %ad %n  - %s\" --date=short
    ldiff = difftool -y -t latex
    wdiff = diff --color-words --ignore-all-space
[credential]
	helper = cache
[credenial "https://git.overleaf.com"]
	username = ceordonezv@gmail.com
	helper = cache
[difftool.latex]
cmd = latexdiff "$LOCAL" "$REMOTE"
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool.vimdiff]
    cmd = nvim -d "$LOCAL" "$REMOTE"
[pull]
    rebase = true
